# Can ignore specific files
libs/donorDB/config.urls.js
application/config/database.php
application/config/email.php

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
application/logs/*

